* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --primary: #fdba74;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: var(--gray-900);
}

h1,
h2,
h3 {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}
