.todoList {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.todoListContainer {
  padding-bottom: 2rem;
}

.todoActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.clearButton {
  all: unset;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--gray-600);
  transition: color 0.2s;

  &:hover {
    color: var(--gray-900);
  }
}