.trigger {
  border: 0;
  background-color: var(--white);
  color: var(--gray-600);

  height: 48px;
  width: 48px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;

  &:hover {
    color: var(--gray-900);
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.tabList {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.tabsTrigger {
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  flex: 1;

  color: var(--gray-600);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.tabsTrigger:hover,
.tabsTrigger[data-state='active'] {
  background-color: var(--gray-200);
  color: var(--gray-900);
}
